extends layout

block head
    meta(name='description' content="frank.moe | Yifei Zhang")
    meta(http-equiv="Content-Type" content="text/html; charset=UTF-8")
    link(rel='stylesheet', href='/stylesheets/index.css')

block content
    script(src='main/bundle.js')
    canvas#canvas
    if env=="development"
        //- h1=env
    div.abs-container.upper.text-center.width-80
        div.typed-strings#typed-caption-strings
            each val in caption.strings
                p!=val
        span.typed-text#typed-caption
    div.abs-container.lower.text-center.width-100
        each val in links
            a(href=val.link)
                ul.text-center.links.shutter-vertical
                    li=val.title
                    li=val.title_cn
    div.abs-container.quote.text-center.width-100
        each val in quotes
            p!=val
